
html,
body {
  padding: 0;
  margin: 0;
}
body {
  font-family: IRANSans, Tahoma, Arial, sans-serif !important;
  background-image: linear-gradient(to top right, #1c526a, #70d2a4);
  background-repeat: repeat-y;
  background-size: cover;
  overflow: auto;
}

