.task {
  background: $Color6;
  border-radius: 3px;
  text-align: left;
  position: relative;
  cursor: pointer;
  margin-bottom: 10px;
  .task-title {
    margin: 0px;
    color: $Color2;
    padding: 10px;
  }
  &.done {
    background: $Color7;
    .task-title {
      color: $Color3;
      text-decoration: line-through;
    }
    .icon {
      color: $Color3;
    }
  }
}
@media (max-width: 767.98px) {
  .task .task-title {
    padding: 6px 5px;
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .task .task-title {
    padding: 4px 4px;
    font-size: 11px;
  }
}
